node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
.turbo/
.vercel/
.next/cache/
.next/server/
.next/static/
.next/static/chunks/
.next/static/chunks/pages/
.next/static/chunks/app/
.next/static/chunks/app/page.js
.next/static/chunks/app/page.js.map
.next/static/chunks/app/page.js.map.gz